/*
body{
	background-color: black;
}
*/
#brainLogo{
	margin: 100px 100px;
    display : inline-block;
}


#brain {
    -webkit-animation:spin 2 linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.brain0{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") 0 0;
}

.brain1{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -100px 0;
}

.brain2{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -200px 0;
}

.brain3{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -300px 0;
}

.brain4{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -400px 0;
}

.brain5{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -500px 0;
}

.brain6{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") 0 -100px;
}

.brain7{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -100px -100px;
}

.brain8{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -200px -100px;
}

.brain9{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -300px -100px;
}

.brain10{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -400px -100px;
}

.brain11{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -500px -100px;
}

.brain12{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") 0 -200px;
}

.brain13{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -100px -200px;
}

.brain14{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -201px -200px;
}

.brain15{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -301px -200px;
}

.brain16{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -401px -200px;
}

.brain17{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -501px -200px;
}

.brain18{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") 0 -300px;
}

.brain19{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -100px -300px;
}

.brain20{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -200px -300px;
}

.brain21{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -300px -300px;
}

.brain22{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -400px -300px;
}

.brain23{
    width: 101px;
    height: 101px;
    background: url("../images/brain.gif") -500px -300px;
}

.buttons {
    background: url("../images/LevelButtons.png") no-repeat top left;
    width: 70px;
    height: 70px;
    }
    
.buttons.Level1 {
    background-position: 0 0;
}

.buttons.Level1:active {
    background-position: 0 -80px;
}

.buttons.Level2 {
    background-position: -80px 0;
}

.buttons.Level2:active {
    background-position: -80px -80px;
}

.buttons.Level3 {
    background-position: -160px 0;
}

.buttons.Level3:active {
    background-position: -160px -80px;
}

.buttons.Level4 {
    background-position: -240px 0;
}

.buttons.Level4:active {
    background-position: -240px -80px;
}

.buttons.Level5 {
    background-position: -320px 0;
}

.buttons.Level5:active {
    background-position: -320px -80px;
}

.buttons.Level6 {
    background-position: -400px 0;
}

.buttons.Level6:active {
    background-position: -400px -80px;
}

.buttons.Level7 {
    background-position: -480px 0;
}

.buttons.Level7:active {
    background-position: -480px -80px;
}

.buttons.Level8 {
    background-position: -560px 0;
}

.buttons.Level8:active {
    background-position: -560px -80px;
}

.buttons.Level9 {
    background-position: -640px 0;
}

.buttons.Level9:active {
    background-position: -640px -80px;
}

.buttons.Level10 {
    background-position: -720px 0;
}

.buttons.Level10:active {
    background-position: -720px -80px;
}

.buttons.Level11 {
    background-position: -800px 0;
}

.buttons.Level11:active {
    background-position: -800px -80px;
}

.buttons.Level12 {
    background-position: -880px 0;
}

.buttons.Level12:active {
    background-position: -880px -80px;
}

.buttons.Level13 {
    background-position: -960px 0;
}

.buttons.Level13:active {
    background-position: -960px -80px;
}

.buttons.Level14 {
    background-position: -1040px 0;
}

.buttons.Level14:active {
    background-position: -1040px -80px;
}

.buttons.Level15 {
    background-position: -1120px 0;
}

.buttons.Level15:active {
    background-position: -1120px -80px;
}
