
/* make the body fill the window */

html, body {
    background-color: #D6FFCD;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}
/* make any canvas fill its container */
canvas{
    margin: 0 auto;
    width: 100%;
    display: block;
}

img{
    position: absolute;
    display: none;
}

.logo{
    background-image : url("../images/logo.png");
    margin:0 auto;
    display: block;
    width : 296px;
    height: 122px;
}

.logomini{
    background-image : url("../images/logomini.png");
    margin:0 auto;
    display: block;
    width : 111px;
    height: 98px;
}

#highscores {
    display :none;
}

#tutorial {
    display :none;
}

#credits {
    text-align: center;
    display :none;
}

#gameMenu {
    display :none;
}

#mycanvas {
    display :none;
}

#chooseGame {
    display :none;
}

#loadLevel{
    display :none;
}

#pause {
    display :none;
}

#gameOver{
    text-align: center;
    display :none;
}

.playbutton, .highscoresbutton, .tutorialbutton, .creditsbutton, .returnbutton, 
.loadlevelbutton, .challengebutton, .menubutton, .rollbutton, .resetbutton, 
.erasebutton, .resumebutton, .mutebutton, .replaybutton, .pausebutton {
    margin:0 auto;
    width : 222px;
    height: 53px;
    display:block;
}

.playbutton:active, .playbutton:active, .highscoresbutton:active, 
.tutorialbutton:active, .creditsbutton:active, .returnbutton:active, 
.loadlevelbutton:active, .challengebutton:active, .menubutton:active, 
.rollbutton:active, .resetbutton:active, .erasebutton:active, 
.resumebutton:active, .mutebutton:active, .replaybutton:active, 
.pausebutton:active{
    width : 222px;
    height: 53px;
    transition: 0s;
    transform : rotate(5deg);
}

.playbutton{
    background-image : url("../images/buttons/normal/Play.png");
}

.playbutton:active{
    background-image : url("../images/buttons/clicked/Play.png");
}

.highscoresbutton{
    background-image : url("../images/buttons/normal/Highscores.png");
}

.highscoresbutton:active{
    background-image : url("../images/buttons/clicked/Highscores.png");
}

.tutorialbutton{
    background-image : url("../images/buttons/normal/Tutorial.png");
}

.tutorialbutton:active{
    background-image : url("../images/buttons/clicked/Tutorial.png");
}

.creditsbutton{
    background-image : url("../images/buttons/normal/Credits.png");
}

.creditsbutton:active{
    background-image : url("../images/buttons/clicked/Credits.png");
}

.returnbutton{
    background-image : url("../images/buttons/normal/Return.png");
}

.returnbutton:active{
    background-image : url("../images/buttons/clicked/Return.png");
}

.loadlevelbutton{
    background-image : url("../images/buttons/normal/LoadLevel.png");
}

.loadlevelbutton:active{
    background-image : url("../images/buttons/clicked/LoadLevel.png");
}

.challengebutton{
    background-image : url("../images/buttons/normal/Challenge.png");
}

.challengebutton:active{
    background-image : url("../images/buttons/clicked/Challenge.png");
}

.menubutton{
    background-image : url("../images/buttons/normal/Menu.png");
}

.menubutton:active{
    background-image : url("../images/buttons/clicked/Menu.png");
}

.rollbutton{
    background-image : url("../images/buttons/normal/Roll.png");
}

.rollbutton:active{
    background-image : url("../images/buttons/clicked/Roll.png");
}

.resetbutton{
    background-image : url("../images/buttons/normal/Reset.png");
}

.resetbutton:active{
    background-image : url("../images/buttons/clicked/Reset.png");
}

.erasebutton{
    background-image : url("../images/buttons/normal/Erase.png");
}

.erasebutton:active{
    background-image : url("../images/buttons/clicked/Erase.png");
}

.resumebutton{
    background-image : url("../images/buttons/normal/Resume.png");
}

.resumebutton:active{
    background-image : url("../images/buttons/clicked/Resume.png");
}

.mutebutton{
    background-image : url("../images/buttons/normal/Mute.png");
}

.mutebutton:active{
    background-image : url("../images/buttons/clicked/Mute.png");
}

.replaybutton{
    background-image : url("../images/buttons/normal/Replay.png");
}

.replaybutton:active{
    background-image : url("../images/buttons/clicked/Replay.png");
}

.pausebutton{
    background-image : url("../images/buttons/normal/Pause.png");
}

.pausebutton:active{
    background-image : url("../images/buttons/clicked/Pause.png");
}

table {
	margin-left: auto;
	margin-right: auto;
    border-spacing: 10px;
}

.col1, .col2, .col3, .col4{	
	width: 10px;
}

#level1, #level2, #level3, #level4, #level5, #level6, #level7, #level8, #level9, 
#level10, #level11, #level12, #level13, #level14, #level15 {
    width : 70px;
    height: 70px;
    display :inline-block;
}

#level1:active, #level2:active, #level3:active, #level4:active, #level5:active, 
#level6:active, #level7:active, #level8:active, #level9:active, #level10:active, 
#level11:active, #level12:active, #level13:active, #level14:active, #level15:active {
    width : 70px;
    height: 71px;
    transition: 0s;
    transform : rotate(5deg);
}

#level1{
    background-image : url("../images/buttons/normal/Level1.png");
}

#level1:active{
    background-image : url("../images/buttons/clicked/Level1.png");
}

#level2{
    background-image : url("../images/buttons/normal/Level2.png");
}

#level2:active{
    background-image : url("../images/buttons/clicked/Level2.png");
}

#level3{
    background-image : url("../images/buttons/normal/Level3.png");
}

#level3:active{
    background-image : url("../images/buttons/clicked/Level3.png");
}

#level4{
    background-image : url("../images/buttons/normal/Level4.png");
}

#level4:active{
    background-image : url("../images/buttons/clicked/Level4.png");
}

#level5{
    background-image : url("../images/buttons/normal/Level5.png");
}

#level5:active{
    background-image : url("../images/buttons/clicked/Level5.png");
}

#level6{
    background-image : url("../images/buttons/normal/Level6.png");
}

#level6:active{
    background-image : url("../images/buttons/clicked/Level6.png");
}

#level7{
    background-image : url("../images/buttons/normal/Level7.png");
}

#level7:active{
    background-image : url("../images/buttons/clicked/Level7.png");
}

#level8{
    background-image : url("../images/buttons/normal/Level8.png");
}

#level8:active{
    background-image : url("../images/buttons/clicked/Level8.png");
}

#level9{
    background-image : url("../images/buttons/normal/Level9.png");
}

#level9:active{
    background-image : url("../images/buttons/clicked/Level9.png");
}

#level10{
    background-image : url("../images/buttons/normal/Level10.png");
}

#level10:active{
    background-image : url("../images/buttons/clicked/Level10.png");
}

#level11{
    background-image : url("../images/buttons/normal/Level11.png");
}

#level11:active{
    background-image : url("../images/buttons/clicked/Level11.png");
}

#level12{
    background-image : url("../images/buttons/normal/Level12.png");
}

#level12:active{
    background-image : url("../images/buttons/clicked/Level12.png");
}

#level13{
    background-image : url("../images/buttons/normal/Level13.png");
}

#level13:active{
    background-image : url("../images/buttons/clicked/Level13.png");
}

#level14{
    background-image : url("../images/buttons/normal/Level14.png");
}

#level14:active{
    background-image : url("../images/buttons/clicked/Level14.png");
}

#level15{
    background-image : url("../images/buttons/normal/Level15.png");
}

#level15:active{
    background-image : url("../images/buttons/clicked/Level15.png");
}
